main {   
    padding: 0 1.6rem;
    height: calc(100vh - 4.25rem);
    border-top: 0.0625rem #f2eae1a5 solid;
}

main .container-main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    gap: 1rem;
    max-height: 4.7rem;
    height: 4.7rem;
}

main h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: auto;
}

main button, table .group-buttons a {
    color: var(--secondary-color);    
    background-color: transparent;
    font-weight: bolder;
    font-size: 1.4rem;
    border: none;
    cursor: pointer;    
    transition: all .3s;
}

main button .bi-arrows-expand {
    height: 2rem;
    width: 2rem;    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
    transition: all .2s ease-in;
}

main a.add-new-libre {
    font-weight: 500;
    color: var(--white-color);
    text-transform: uppercase;
    background-color: var(--secondary-color);
    letter-spacing: 0.0625rem;
    font-size: 0.9rem;
    padding: 1rem 2rem;
    border-radius: 0.4rem;   
    text-decoration:none; 
}

main a.add-new-libre:hover {
    color: var(--text-color); 
    text-decoration:none;   
}

main button.add-new-libre {
    font-weight: 500;
    color: var(--white-color);
    text-transform: uppercase;
    background-color: var(--secondary-color);
    letter-spacing: 0.0625rem;
    font-size: 0.9rem;
    padding: 1rem 2rem;
    border-radius: 0.4rem;    
}

main button.add-new-libre:hover {
    color: var(--text-color);    
}

main button .bi-arrows-expand:hover {
    color: var(--white-color);     
    background-color: var(--secondary-color);
}

main hr {
    border-color: #c4c4c430;
    margin-top: 0;
}

main table {
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 1.25rem;
}

main .container-table {
    max-width: calc(100vw - 21rem);
    overflow: auto;
}

main table th, main table td {
    padding: 0.8rem;    
    vertical-align: middle;    
    white-space: nowrap;
}

main table th {
    font-weight: 600;
    font-size: 0.75rem;
    color: var(--text-tertiary-color);
}

main table td {
    margin-bottom: 2rem;
    font-weight: normal;
    font-size: 0.875rem;
    color: var(--text-color);
    background-color: #d0d0d021;
}

main table tbody tr {
    position: relative;
    z-index: 0;

}

main table tbody tr::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 1rem;
    background-color: transparent; 
    box-shadow: 0 0 2px 0.5px #00000022;
}

main table td:first-child {
    border-radius: 1rem 0 0 1rem;
}

main table td:last-child {
    border-radius: 0 1rem 1rem 0 ;
}

main table td img {
    width: 4.0625rem;
    object-fit: cover;  
    height: 3.4375rem;
    border-radius: 0.5rem;
}

main table td.result-none {
    border-radius: 1rem;
}

main table .group-buttons {
    text-align: right;
}

main table .group-buttons a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer; 
    margin-left: 0.5rem;
    color: var(--secondary-color);
    background-color: transparent;
    font-weight: bolder;
    font-size: 1.4rem;
    border: none;    
    padding: 0.5rem;
    border-radius: 50%;
}

main table .group-buttons a:hover {
    color: var(--white-color);     
    background-color: var(--secondary-color);
    box-shadow: 0 0 1px #00000032;
}